<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Uses</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
  </head>
  <body style="background-color: #ADD8E6">
    <h1 class="text-center">Liste  des utilisateurs:</h1>
      <ul>
        {{#each users}}
        <li>{{this.email}}</li>
        {{/each}}
      </ul>
  </body>
</html>